@import url("pygment_highlights.css");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Roboto+Condensed|Open+Sans|Open+Sans+Condensed:300|Open+Sans+Condensed:light|Lato|Lora|Fira+Sans|Fira+Mono");

body {
  font-family: Roboto, 'Libre Baskerville', sans-serif; /*, et-book, "Palatino Linotype", "Palatino LT STD", 'Lora', serif*/
  font-size: 15px;
  font-weight: 300;
  color: #408546;        /* #404040*/
  position: relative;
  background: #f2f2f2;      /* cor do fundo da pagina */
}

d-article{
  text-align: justify;
}

/* configuracao do titulo com 1 # */
d-article h1 {
  font-family: Roboto, 'Libre Baskerville', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 150%;
  color: #06663C;
  margin-top: 2.1rem;
  margin-bottom: 1.2rem;
  line-height: 1;
  /* to remove will require something to keep the inline from inserting
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  padding-bottom: 1rem; 
  */
}


/* configuracao do titulo com 2 # */
d-article h2 {
  font-family: Roboto, 'Libre Baskerville', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 150%;
  color: #06663C;
  margin-top: 2.1rem;
  margin-bottom: 1.2rem;
  line-height: 1;
  /* to remove will require something to keep the inline from inserting
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  padding-bottom: 1rem; 
  */
}

/* configuracao do titulo com 3 # */
d-article h3 {
  font-family: Roboto, 'Libre Baskerville', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 130%;
  color: #06663C;
  margin-top: 2.1rem;
  margin-bottom: 1.2rem;
  line-height: 1;
  /* to remove will require something to keep the inline from inserting
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  padding-bottom: 1rem; 
  */
}


/* Configuracoes do texto de todos os titulos do documento */
.index-title h1 {
  font-family: Roboto, 'Libre Baskerville', sans-serif;
  font-weight: 200;
  font-size: 75px;
  font-variant: small-caps;
  text-align: center;
  color: #00990d;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  line-height: 1;
  border-bottom: 0; /*same as default h2*/
  padding-bottom: 1rem; 
}

/* Textos selecionados para ficar centralizado */
.index-texto_centralizado {
  text-align: center;
}

/* Texto da pagina de entrada */
.index-titulo_inicio{
  font-family: Roboto, 'Libre Baskerville', sans-serif;
  text-align: center;
  font-size: 50px;
  color: #408546;
}

/* Textos selecionados para ficar centralizado */
.index-frase_entrada {
  font-family: Roboto, 'Libre Baskerville', sans-serif;
  text-align: center;
  font-size: 30px;
  color: #17421b;
}

.d-toc {
  font-size: 2.0rem
}
      /* Nav bar */

.distill-site-nav {
  color: #dce0dc;  /* Cor da fonte */
  background-color: #06663C;
  font-size: 20px;
  font-weight: 300;
}


.distill-site-nav a {
  color: inherit;
  text-decoration: none;
}

.distill-site-nav a:hover {
  color: #0085a1;
}

/* configuracao da imagem de logo - logo - image */
.distill-site-header .logo img {
    max-height: 40px;
    width: auto;
    margin-bottom: -16px; /*posicao*/
}
/* sidebar on front page with category listing */

.posts-with-sidebar .posts-sidebar {
  float: right;
  width: 10%;    /* default 20, made narrow */
  margin-top: 60px;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* attempt to make result not so wide/spacious */ 

.posts-with-sidebar .posts-list {
  width: 66%;
  margin-left: 11%;
}

.posts-sidebar {
  font-size: 100%;
  margin-right: 10%;
}


/* configuracao das colunas no texto */ 
/* 2 colunas */ 
.column{
  float: left;
  width: 45%;
  text-align: left;
}

/* 3 colunas */ 
.column_3{
  float: left;
  width: 33.33%;
  text-align: left;
}

/* coluna de espaco */ 
.column_spc{
  float: left;
  width: 4%;
  text-align: left;
}

/* preview da imagem dos posts na pagina inicial */ 

.posts-list .post-preview .thumbnail img { width: 80%; display: block; }

/* blocos de codigos */ 
d-article div.sourceCode pre {
    background: #f2f2f2;
}
